// FILE DA CANCELLARE, OBSOLETO ADESSO CHE C'è LA PALETTE DIRETTAMENTE IN GUTENBERG

.gray-500 {
    color: $color__neutral-500;
}

.primary-900 {
    color: $color__primary-900;
}

.brand-color {
    color: $color__primary-700;
}