h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__main;
	margin: 0;
}

h1 {
	@include font-size(3.375);
	line-height: 1;
	font-weight: 800;
	color: $color__neutral-900;
}

h2 {
	@include font-size(2.25);
	line-height: 1.33;
	font-weight: 600;
	color: $color__primary-500;
}

h3{
	@include font-size(1.5);
	line-height: 2rem;
	font-weight: 600;
	color: $color__neutral-500;
}

h4{
	@include font-size(0.875);
	font-weight: 600;
	line-height: 1.714285714;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: $color__neutral-500;
}
