h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__main;
	margin: 0;
}

h1 {
	@include font-size(3.375);
	@include fluid-font(5vw, 28px, 54px, 36px);
	line-height: 1;
	font-weight: 800;
	color: $color__neutral-900;
}

h2 {
	@include font-size(2.25);
	@include fluid-font(4vw, 24px, 36px, 32px);
	line-height: 1.33;
	font-weight: 600;
	// color: $color__neutral-700;
	color: $color__primary-400; //contrast is ok if >18px
}

h3{
	@include font-size(1.5);
	@include fluid-font(3vw, 16px, 24px, 24px);
	line-height: 2rem;
	font-weight: 600;
	color: $color__neutral-500;
}

h4{
	@include font-size(0.875);
	font-weight: 600;
	line-height: 1.714285714;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: $color__neutral-500;
}

@include media("screen", "<phone"){
	h2 {
		// @include font-size(1.5);
		line-height: 1.1666;
	}
	
	h3{
		// @include font-size(1);
		line-height: 1.25;
		font-weight: 800;
	}
	
	h4{
		// @include font-size(0.875);
		line-height: 1.428571;
	}
}

