.card-link {
    text-decoration: none;
    height: 100%;
}

.card {
    display: grid;
    padding-left: map-get($map: $spacing, $key: 6);
    border: 2px solid $color__neutral-100;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    transition: all 300ms;
    visibility: hidden;
    opacity: 0;
    // margin-top: -100px;
}

.card-link .card{
    border-color: $color__primary-700;

    h2,
    h3 {
        color: $color__primary-700;
    }
}

// TEAM MEMBER
.card-team-member {
    width: 664px;
    height: 100%;
    max-height: 422px;;
    grid-template-columns: 4fr 3fr;
    grid-template-areas: "content image";

    p {
        padding: 0 1rem 4rem 0;
    }

    img {
        object-fit: cover;
        margin-top: auto;
        height: 100%;
    }

    .team-card-content {
        grid-area: content;
    }

    .team-member-photo {
        grid-area: image;
    }

}

// PORTFOLIO
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(13rem, 29rem));
    grid-gap: 6rem 7rem;
    // grid-template-rows: 1fr;
}

.card-portfolio {
    padding-left: 0;
    width: 29rem;
    min-height: 26.5rem;
}

.card-featured-img {
    height: 16.5rem;
    width: 29rem;
    object-fit: cover;
    border-radius: 2px 2px 0 0;
}

.card-content {
    padding: 1rem 2rem 1.5rem 2rem;
    
    & > * {
        margin: 0;
    }

    .card-title {
        color: $color__neutral-900;
    }
}

// CERTIFICATI
.card-certificate {
    width: 384px;
    height: 256px;;
    padding-left: 1rem;

    img {
        width: 352px;
        height: 156px;
        object-fit: contain;
        filter: grayscale(1);
        transition: all 300ms;

        &:hover {
            filter: grayscale(0);
        }
    }
}

// BLOG
.card-blog-post {
    grid-template-rows: 17rem 2.5rem 6.5rem;
    grid-template-columns: 100%;
    padding: 0 0 1.5rem 0;
    // grid-gap: 1rem;
    max-width: 376px;

    .post-thumbnail > img.wp-post-image,
    img {
        // object-fit: fill;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 2px 2px 0 0;
        margin: 0;
    }

    &.card h3 {
        padding: .5rem 1rem 0;
        color: $color__neutral-700;
        position: relative;
        overflow: hidden;
        // margin: 0; // no effect — am I missing something in the cascade? Fixed adding a more specific rule down

        // Overflow
        &:after{
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40%;
            height: 2rem;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }
    }

    .entry-meta {
        display: inline-block;
        padding: 1rem 1rem 0;
        font-weight: 400;
        position: relative;
        
        // Overflow for the category name
        // I'll put this here so it kicks in just when the category name occupy the 55% of the card (z-index 1 to prevent it goes on the date)
        &:after{
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            left: 55%;
            width: 5%;
            height: 1.5rem;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
            z-index: 1;
        }

        span {
            display: inline-block;
            white-space: nowrap;
            position: relative;
            overflow: hidden;

            &.cat-links {
                max-width: 60%;
            }

            &.posted-on {
                max-width: 35%;
                margin-left: 5%;
                z-index: 2;
            }
        }
    }
}	

.single-post .card.card-blog-post h3 {
    margin: 0;
}	

// Related posts 
.related-posts {
    display: grid;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-template-columns: repeat(3, minmax(150px, 438px));;
    grid-gap: 24px 16px;

    & > h3 {
        grid-column-start: span 3;
    }
}


@include media("screen", "<phone") {
    .card-team-member {
        grid-template-rows: 1fr min-content;
        grid-template-columns: 100%;
        width: 100%;
        padding-left: 0;
        max-height: none;
        grid-template-areas:    "image" 
                                "content";

        .team-card-content {
            margin: 0 1rem;
        }

        img {
            max-height: 11rem;
            border-radius: 0 0 50% 50%;
            width: 75%;
            object-position: 50% 20%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .card-portfolio {
        width: 100%;
        // margin: map-get($spacing, 5) 0 map-get($map: $spacing, $key: 7 );
    }

    .card-grid {
        grid-template-columns: 100%;
        grid-auto-flow: row;
        row-gap: 4rem;
    }

    .card-blog-post {
        grid-template-columns: 100%;

        &.card > h3 {
            @include font-size(1.5);
            font-weight: 600;
            line-height: 1.3333;
        }
    }

    .card-certificate {
        // here there is a problem: .card-certificate is under horizontal-slider and horizontal slider has a grid with a gap of 4rem. Horizontal slider is used also in other instances — so changing the dispaly to block will lead to other hard fixes. I like to make a trick just for card-certificate than tricks every other instances in order to accomodate card-container. I don't want that much spacing between items in card-certificate for mobile. What I do is put the height to 0 so that the actual spacing between items 4rem-height of the title (2.75rem)
        width: 100%;
        height: 0;
        margin: 0;
        border: none;
        overflow: visible;

        &:first-child {
            margin-top: 2.5rem;
        }

        figure {
            // remove the certificate image on mobile — too much distraction.
            display: none;
        }

    }

    .related-posts {
        display: block;

        .card {
            @include margin-top(7);

            &:first-child {
                @include margin-top(4);
            }

            > h3.entry-title {
                margin: 0;
            }
        }
    }
}

@include media("screen", ">desktop"){
    .card-link .card {
        border-color: $color__neutral-100;
    }

    .card-link:hover .card{
        border-color: $color__primary-700;
        transform: translateY(-8px);

        h2,
        h3 {
            color: $color__primary-700;
        }
    }
}