.pattern-bg {
    background-image: url("data:image/svg+xml,%3Csvg width='171' height='93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M64.5 100.5v-63l-57-30m0 0l-57 30m57-30v-33m0 123v-60l57-30m0 0l57 30 57-30m-114 0v-24m-84 69l57 30 57-30m0 0l57 30v30m-57-60v-63m57 0v63m0 0l-57 30v30m57-60l57 30' stroke='%23F0F4F8' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath d='M0 0h171v93H0V0z' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    padding: 3rem 0 4rem 0;
}

.trippy-line {
    position: absolute;
    top: -45vh;
    right: -80vw;
    width: 110vw;
    // height: auto;
    z-index: -1;
    // transform: rotate(90deg);
}

@include media("screen", "<phone") {
    .pattern-bg {
        background: none;
    }

    .trippy-line {
    display: none;
    }
}
