.horizontal-slider {
    width: 100vw;
    padding-top: 8px; // the space for the card hover animation
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer 10+ */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
    cursor: -webkit-grab; 
    cursor: grab;
    position: relative;

    &::-webkit-scrollbar {
        display: none; /* Hide scrollbar in Safari and Chrome */
    }

    .arrow.right-arrow {
        content: "→";
        display: inline-block;
        font-size: 3rem;
        background-color: white;
        color: green;
        position: sticky;
        left: 92%;
        bottom: 50%;
        padding: 1rem;
        border-radius: 50%;
        border: solid 2px $color__neutral-200;
        box-shadow: 0 0 0 white;
        cursor: pointer;
    }

    & > div{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content min-content;
        grid-gap: 2rem;
        // padding: 32px;

        & > a:first-child {
            //align first card with content
            margin-left: calc( ((100vw - 1168px) / 2) - 32px ); 
        }

        &:after {
            content: "";
            width: 32px;
        }
    }
}

@include media("screen", "<phone") {
    
    // .horizontal-slider.full-width {
	// 	margin: 0;
	// 	grid-template-rows: 1fr;
	// 	cursor: auto;

	// 	& > div {
	// 		// grid-auto-rows: 1fr 1fr;
	// 		display: block;
	// 	}
	// }
    
    .horizontal-slider.full-width {
        width: auto;
        padding-top: 0;
        overflow: hidden;
		margin: 0;
		grid-template-rows: 1fr;
		cursor: auto;
        overflow: visible;
    
        & > div{
            // display: block;
            grid-auto-flow: row;
            grid-auto-columns: 1fr;
            grid-gap: 4rem;

            & > a:first-child {
                margin-left: 0;
            }

            &:after {
                content: none;
            }
        }
    }
}
