.horizontal-slider {
    width: 100vw;
    padding-top: 8px; // the space for the card hover animation
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer 10+ */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
    position: relative;

    &::-webkit-scrollbar {
        display: none; /* Hide scrollbar in Safari and Chrome */
    }

    .arrow {
        display: none;
    }
    
    & > div{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content min-content;
        grid-gap: 2rem;
        // padding: 32px;

        &:after {
            content: "";
            width: 32px;
        }
    }
}

@include media("screen", "<desktop") {
    .horizontal-slider.full-width {
        width: auto;
        padding: 0 1rem;
        overflow: hidden;
		// margin: 0; //overritten by other margin classes
		grid-template-rows: 1fr;
        overflow: visible;
    
        & > div{
            // display: block;
            grid-auto-flow: row;
            grid-auto-columns: 1fr;
            grid-gap: 4rem;
            justify-items: center;

            & > a:first-child {
                margin-left: 0;
            }

            &:after {
                content: none;
            }
        }
    }
}

@include media("screen", ">desktop") {
    .horizontal-slider {
        // Chi siamo
        [class^="wp-block-lazyblock"]:first-child {
            margin-left: calc( ((100vw - 73rem ) / 2) - 3rem);
        }
        
        // Portfolio
        .card-link:first-child{
            margin-left: calc( ((100vw - 73rem ) / 2) - 2rem);
        }
        
        // Certificati
        .card-certificate:first-child {
            margin-left: calc( ((100vw - 73rem ) / 2) - 1rem);
        }
        
        .arrow {
            display: inline-block;
            position: sticky;
            bottom: 50%;
            padding: 1.5rem;
            width: 5rem;
            height: 5rem;
            font-family: Arial, sans-serif;
            font-size: 1.625rem;
            line-height: 0.95;
            color: $color__primary-700;
            background-color: white;
            border: solid 2px $color__neutral-400;
            border-radius: 50%;
            box-shadow: 0 7px 15px rgba($color__neutral-100, .15);
            opacity: .9;
            cursor: pointer;
            
            &--right {
                left: 92%;
            }
            &--left {
                left: 2%;
                visibility: hidden;
            }
            
            &:hover{
                border-color: $color__primary-600;
                opacity: 1;
            }
        }
    }
}
    