$color__primary-050:    #DCEEFB;
$color__primary-100:    #B6E0FE;
$color__primary-200:    #84C5F4;
$color__primary-300:    #62B0E8;
$color__primary-400:    #4098D7;
$color__primary-500:    #2680C2;
$color__primary-600:    #186FAF;
$color__primary-700:    #0F609B;
$color__primary-800:    #0A558C;
$color__primary-900:    #003E6B;

$color__neutral-050:    #F0F4F8;
$color__neutral-100:    #D9E2EC;
$color__neutral-200:    #BCCCDC;
$color__neutral-300:    #9FB3C8;
$color__neutral-400:    #829AB1;
$color__neutral-500:    #627D98;
$color__neutral-600:    #486581;
$color__neutral-700:    #334E68;
$color__neutral-800:    #243B53;
$color__neutral-900:    #102A43;

$color__error:          #911111;
$color__warning:        #CB6E17;
$color__success:        #0E7C86;





// Default values
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


