.card-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(13rem, 29rem));
    grid-gap: 6rem 7rem;
}

.card-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.card {
    border: solid 2px $color__neutral-050;
    border-radius: 4px;
    max-width: 29rem;
    max-height: 26.5rem;
}

.card-featured-img {
    height: 18rem;
    width: 29rem;
    object-fit: cover;
}

.card-content {
    padding: 1rem 2rem 1.5rem 1rem;
    
    & > * {
        margin: 0;
    }

    .card-title {
        color: $color__neutral-900;
    }
}