.site-footer{
    justify-items: left;
    border-top: solid 2px $color__neutral-050;
    position: relative;
    // background-color: white;
    background-color: $color__neutral-050;
    @include margin-top(9);

    ul {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        li{
            @include margin-top(2);
        }
    }

    li.menu-item a:after {
        content: none;
    }

    .footer-title {
        @include margin-top(8);
        margin-bottom: 0;
        color: $color__neutral-700;
    }

    .footer-down{
        @include margin-top(8);
        margin-bottom: 24px;

        a {
            color: $color__neutral-500;
        }

    }
}

@include media("screen", "<desktop") {
    .site-footer > .container-footer {
        margin-left: 48px;
        width: auto;
        @include margin-top(9);
        
        .footer-title {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: .5rem;
            @include margin-top(7);
        }
    }

    .footer-down > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5em;
    }
}