.site-footer{
    justify-items: left;
    border-top: solid 2px $color__neutral-050;
    @include margin-top(9);

    ul {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        li{
            @include margin-top(2);
        }
    }

    a,
    a:visited{
        text-decoration: none;
        color: $color__neutral-700;
    }

    a:hover {
        color: $color__primary-700;
    }

    .footer-title {
        @include margin-top(8);
        margin-bottom: 0;
        color: $color__neutral-700;
    }

    .footer-down{
        @include margin-top(8);
        margin-bottom: 24px;

        a {
            color: $color__neutral-500;
        }

    }
}