a {
	color: $color__primary-700;
	font-weight: 600;

	&:visited {
		color: $color__primary-400;
	}
	
	&:hover,
	&:focus,
	&:active {
		color: $color__primary-900;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

//target only the link pointing outside Alma Digital Website
a {
	text-decoration: none;
	font-weight: 400;
	color: $color__primary-700;

	&[href*="//"]:not([href*="192.168.64.2/"]):after {
	// &[href*="//"]:not([href*="almadigital.it"]):after {
		content: " ";
		margin: 0 0 -2px 4px;
		display: inline-block;
		height: 16px;
		width: 16px;
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 5.33317C8 5.50998 7.92976 5.67955 7.80474 5.80457C7.67971 5.9296 7.51014 5.99984 7.33333 5.99984H3.33333V12.6665H10V8.6665C10 8.48969 10.0702 8.32012 10.1953 8.1951C10.3203 8.07008 10.4899 7.99984 10.6667 7.99984C10.8435 7.99984 11.013 8.07008 11.1381 8.1951C11.2631 8.32012 11.3333 8.48969 11.3333 8.6665V12.6665C11.3333 13.0201 11.1929 13.3593 10.9428 13.6093C10.6928 13.8594 10.3536 13.9998 10 13.9998H3.33333C2.97971 13.9998 2.64057 13.8594 2.39052 13.6093C2.14048 13.3593 2 13.0201 2 12.6665V5.99984C2 5.2665 2.6 4.6665 3.33333 4.6665H7.33333C7.51014 4.6665 7.67971 4.73674 7.80474 4.86177C7.92976 4.98679 8 5.15636 8 5.33317Z' fill='%230F609B'/%3E%3Cpath d='M12.6663 4.27333L5.79968 11.14C5.73941 11.2093 5.66547 11.2655 5.58248 11.3049C5.4995 11.3443 5.40927 11.3661 5.31745 11.369C5.22563 11.3718 5.13421 11.3557 5.04892 11.3216C4.96363 11.2875 4.88631 11.2361 4.82181 11.1707C4.75732 11.1053 4.70704 11.0272 4.67413 10.9414C4.64122 10.8557 4.62639 10.764 4.63057 10.6723C4.63476 10.5805 4.65786 10.4906 4.69843 10.4082C4.739 10.3258 4.79617 10.2526 4.86635 10.1933L11.7197 3.33333H9.33301C9.1562 3.33333 8.98663 3.2631 8.86161 3.13807C8.73659 3.01305 8.66635 2.84348 8.66635 2.66667C8.66635 2.48986 8.73659 2.32029 8.86161 2.19526C8.98663 2.07024 9.1562 2 9.33301 2H13.333C13.5098 2 13.6794 2.07024 13.8044 2.19526C13.9294 2.32029 13.9997 2.48986 13.9997 2.66667V6.66667C13.9997 6.84348 13.9294 7.01305 13.8044 7.13807C13.6794 7.26309 13.5098 7.33333 13.333 7.33333C13.1562 7.33333 12.9866 7.26309 12.8616 7.13807C12.7366 7.01305 12.6663 6.84348 12.6663 6.66667V4.27333Z' fill='%230F609B'/%3E%3C/svg%3E%0A");
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}