// HEADER

body.lock-scroll {
	overflow: hidden;
}

.container-header {
	position: sticky;
	top: 0;
	z-index: 99;
	background-color: white;
	height: 80px;

	* {
		height: inherit;
	}
}

.site-header {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	// max-height: 80px;
	a {
		background: none;

		&:visited {
			color: $color__primary-700;
		}
	}
}

.site-branding {
	grid-column-start: 1;
	grid-column-end: 3;

	.custom-logo {
		width: auto;
	}
}

.menu-header-container	{
	ul {
		display: flex;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			height: min-content;
			margin: auto 0 auto map-get($spacing, 6);
			
			&.current-menu-item > a {
				font-weight: 600;
			}

			&:first-child{
				margin-left: 100px;
			}

			&:last-child{
				margin-left: auto;
			}
		}
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}








@include media("<phone") {
	.container-header {
		height: 56px;
		border-bottom: solid 1px $color__neutral-050;
	}

	.site-header {
		grid-template-columns: 1fr 1fr;
	}

	.site-branding {
		grid-column-end: 2;
		z-index: 100;
	}

	.main-navigation {
		display: grid;
		justify-content: end;
		grid-column-end: 3;

		button {
			background-color: transparent;
			border: none;
			display: inline-block;
			
			svg {
				height: auto;
			}

			.hamburger-line {
				height: 2px;
			}
		}
	}

	.main-navigation.toggled {
		button {
			border-radius: 0;
			z-index: 100;
			
			.hamburger-line {
				fill: $color__neutral-050;
			}
		}
		
		ul {
			display: block;
			// transform: translateX(0);
		}
	}

	.menu-header-container ul {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		transform: translateX(100vw);
		background-color: $color__neutral-900;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		// transition: all 400ms;

		.menu-item {
			// transform: translateX(100px);
			margin: 0 0 map-get($spacing, 4 ) map-get($spacing, 8 );
			
			&:first-child {
				margin-left: map-get($spacing, 8 );
				padding-top: map-get($spacing, 8 );
			}

			&:last-child { 
				width: min-content;
				padding: 0 8px;
				margin: map-get($spacing, 6 ) map-get($spacing, 8 ) map-get($spacing, 7 );
				background-color: $color__neutral-900;
				border: solid 2px $color__neutral-700;
				
				a {
					display: inline-block;
					padding: 12px 24px;
				}
			}
			
			a {
				display: block;
				margin: 0 0 36px 0;
				padding: 12px 0;
				font-size: 20px;
				line-height: 24px;
				color: $color__neutral-050;
				// font-weight: 600;
				
				&:first-child {
					margin: 0;
				}
				
				&:visited, 
				&:hover, 
				&:focus, 
				&:active{
					color: $color__neutral-050;
				} 
			}
		}
	}
}
