.aligncenter {
	clear: both;
	@include center-block;
}


.grid, 
.grid-son > div {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1rem;
	& > * {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
	@include media("<phone") {
		display: block;
	}
}

.gap-0 > div {
	grid-gap: 0;
}

.grid-2-row > div {
	grid-gap: 1.5rem 1rem;
}

.width-100 {
	width: 100%;
}

.width-50 {
	max-width: 50%;
	width: 50%;
}

.width-37 {
	width: 37%;
	max-width: 37%;
}

.width-42 {
	width: 42%;
	max-width: 42%;
}

.width-66 {
	width: 66%;
	max-width: 66%;
}

.width-18 {
	width: 18%;
	max-width: 18%;
}

.width-88 {
	width: 88%;
	max-width: 88%;
}

@include media("screen", "<phone") {
	[class*="width-"] {
		width: 100%;
		max-width: 100%;
	}
}

.full-width {
	margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.grid-space-between-items{
	justify-content: space-between;
}

.grid-max-content{
	grid-template-columns: repeat(4, max-content);
}


// so we don't have to write col-x twelve time
@for $i from 1 through 12 {
	.col-#{$i} {
		grid-column-end: span $i;
	}

	@include media ("screen", "<phone"){
		.col-#{$i} {
			grid-column-end: initial;
		}
	}

}

// so we don't have to write col-x twelve time
@for $i from 1 through 11 {
	.start-col-#{$i} {
		grid-column-start: $i;
	}
}

// so we don't have to write margin-top-x twelve time
@for $i from 0 through 15 {
	.margin-top-#{$i} {
		@include margin-top($i);
	}
}

@include media("screen", "<phone") {
	@for $i from 0 through 15 {
		.sm--margin-top-#{$i} {
			@include margin-top($i);
		}
	}

	.sm--center-text {
		text-align: center;
	}
}


#come-lavoriamo{
	div{
		height: min-content;
	}
}

#Cosa-facciamo {
	position: relative;
}

#headline {
	div {
		h1 {
			grid-column-start: 3;
			grid-column-end: 13;
			font-weight: 600;
			// font-size: 48px;
			@include font-size(3);
			line-height: 1.33;
			color: $color__primary-900;
		}
		h3 {
			grid-column-start: 3;
			grid-column-end: 13;
			line-height: 1.5;
			font-weight: 400;
			margin-top: 0;
		}
		.primary-button {
			grid-column-start: 3;
			grid-column-end: 13;
		}
	}
}

