.sticky {
	display: block;
}

.post,
.page,
.content-space,
.site {
	max-width: 1168px;
	width: 100%;
	margin: auto;
}

@include media("screen", "<desktop") {
	.content-space {
		padding: 0 1rem;
	}
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}